In [1]:
import mysql.connector
con = mysql.connector.connect(host='localhost', password='asterik!@#148596%%supreme', user='root',database = 'intel')
if con.is_connected():
    print('CONNECTION DONE')

CONNECTION DONE

In [ ]:
cur= con.cursor()
query = "select Speed , alert from cleaned_revised where speed>60"
cur.execute(query)
result = cur.fetchall()

In [ ]:
column_names = [i[0] for i in cur.description]
col = pd.DataFrame(result, columns=column_names)

In [ ]:
col.head(10000)

In [ ]:
# accident prone
query1 = "select * from cleaned_revised where speed > 60 and (alert ='cas_fcw' or alert ='cas_pcw')"
cur.execute(query1)

In [ ]:
columns = [i[0] for i in cur.description]
data = cur.fetchall()
col = pd.DataFrame(data, columns=columns)

In [ ]:
col.head(100)

In [ ]:
csv_filename = 'output.csv'  
col.to_csv(csv_filename, index=False)

In [ ]:
#vehicle separation
query2="select * from cleaned_revised where vehicle=3143"
cur.execute(query2)

In [ ]:
column = [i[0] for i in cur.description]
data = cur.fetchall()
cols = pd.DataFrame(data, columns=column)

In [ ]:
col.head(10000)

In [ ]:
csv_filename = 'vehicle_3143.csv'
cols.to_csv(csv_filename, index= False)

In [ ]:
#Precautionary 
query3 = "select * from cleaned_revised where Speed>55 and (alert='cas_fcw' or alert ='cas_ldw')"
cur.execute(query3)

In [ ]:
column = [i[0] for i in cur.description]
data = cur.fetchall()
cols = pd.DataFrame(data, columns=column)

In [ ]:
csv_filename = 'precaution.csv'
cols.to_csv(csv_filename, index= False)

In [ ]:
d3 = pd.read_csv("C:/Users/arpit/Downloads/vehicle_3143.csv")

In [ ]:
query3 = "select distinct(Dates) from cleaned_revised where Vehicle = 3143"
cur.execute(query3)

In [ ]:
column = [i[0] for i in cur.description]
data = cur.fetchall()
cols = pd.DataFrame(data, columns=column)

In [ ]:
cols.head(100)

In [ ]:
cur= con.cursor()
query = ""
cur.execute(query)
result = cur.fetchall()

In [2]:
import pandas as pd

In [3]:
cur= con.cursor()

query = "select count(alert), Dates from intel.v1995 group by Dates"

cur.execute(query)
result = cur.fetchall()

In [4]:
column_names = [i[0] for i in cur.description]
col = pd.DataFrame(result, columns=column_names)
col.head(100)

   count(alert)       Dates
0             5  01-06-2022
1             4  08-06-2022
2             9  09-06-2022

In [6]:
csv_filename = 'rash_1995.csv'
col.to_csv(csv_filename, index= False)